
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 250px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: #dddddd;
}

.sorting {
  margin-top: 25px;
}
