table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00A0B0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 10px;
}

.button:hover {
  background-color: #00808c;


}



.button:active {
  background-color: #00A0B0;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
